import /etc/caddy/snippets/*.caddy

books.koalasoft.se {
    @backend path /api/* /connect/* /hangfire /hangfire/* /account/* /.well-known/*
    reverse_proxy @backend web:8080
    reverse_proxy client:80
}

dashboard.koalasoft.se {
    reverse_proxy aspire-dashboard:18888
}
